/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


#hero {
    background-image: url(images/background.jpeg);
    background-size: cover;
    margin: 0;
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visit {
    padding: 5px 10px;
    border: 5px solid #457B9D;
    border-radius: 5px; 
    background: #457B9D;
    color: #ffffff;
    font-size: 30px;
    
}

#enjoy {
    margin: 0;
    background: #1D3557;
    border: #1D3557;
    font-size: 20px;
}

#activities {
    padding: 10px;
    background: #F1FAEE;
}

#three {
        display: flex;
        color: #1D3557;
}

.top{
    font-size: 30px;
}

.images {
        width: 100px;
        border-radius: 50%; 
}


.txt {
    margin: 15px;
    font-size: 15px;
}

#img-re-2 {
    width: 100px;
    height: 100px;
}

#img-re {
    width: 100px;
    height: 100px;
}

#guide {
    display: flex;
    background: #A8DADC;
    margin: 75px 100px;
    padding: 20px;
    color: #1D3557;
    border-bottom: 5px solid #457B9D;
    border-radius: 5px; 
}


.per{
    width: 150px;
}
